header
    .header__wrapper
        a.header__logo
            img(src="./img/logo.png", alt="#")
        .header__rasp
            p Ежедневно с 9:00 до 19:00
            p 8 (495) 905-35-85
        .header__logo-alt
            p Lusi Flowers
        .header__search
            input(type="text" placeholder="Поиск")
        .header__menu-main
            a(href="") Отзывы
            a(href="") Доставка
        .header__settings
            .header__menu-burger
                details
                    summary
                    nav.menu
                        a(href="#")
            .header__menu-account
                img(src="./img/account.png", alt="")
