.block__bouquet
    .block_top
        .block__name
            h1 Авторские букеты
            h3 Оригинальные дизайнерские букеты
        .block__price
            p От 2000 руб.
    .block__items
        .item
            img(src="/img/kerrry.png", alt="")
            .item-info
                p.item-name Керри
                span Бесплатная доставка через 2 ч с 10:00 до 20:00
                p.item-price 3 640 ₽
        .item
            img(src="/img/kerrry.png", alt="")
            .item-info
                p.item-name Керри
                span Бесплатная доставка через 2 ч с 10:00 до 20:00
                p.item-price 3 640 ₽
        .item
            img(src="/img/kerrry.png", alt="")
            .item-info
                p.item-name Керри
                span Бесплатная доставка через 2 ч с 10:00 до 20:00
                p.item-price 3 640 ₽
    .show_more
        p Показать больше
        img(src="/img/show_more.png", alt="")
    